body{
background-color: #faf9ef;

}
i{
    color: #cf669c;
    
}
p{
    text-align: center;
 color:  #b89381;
}
h1{
text-align: center;
color: #5d84a4;


}
h3{
    color: #5d84a4;
}

h2{
    color:  #000000;
  
}